<div class="page" >
  <div class="title full">
    <div class="box full">
      <div class="inner full">
        <h1><%= guide.field('title_page_header') %></h1>
        <h1 class="big" style="white-space: pre-wrap"><%= (guide.field('title_page_voter_guide') || '').gsub(' ', "\n") %></h1>
        <h1 class="center" style="white-space: pre-wrap"><%= (guide.field('title_page_voter_guide') || '').gsub(' ', "\n") %></h1>
        <h2>
          <%= guide.field('title_be_sure_to_vote_by') %>
          <%= guide.election_date.strftime("%B") %>
          <%= guide.election_date.day.ordinalize %></h1>
        <p><%= guide.field('title_page_blurb') %></p>
      </div>
    </div>
  </div>
</div>
<div class="page">
  <div class="header">
    <h2><%= guide.field('about_us_title') %></h2>
  </div>
  <div class="content about-us">
    <div class="section">
      <h3><%= guide.field('about_us_subtitle') %></h3>
      <p><%= guide.field('about_us_blurb') %></p>
      <%= image_tag guide.field('about_us_logo'), class: 'logo' %>
    </div>
  </div>
  <div class="footer" style="background-image: url(<%= guide.field('about_us_page_footer_img') %>)" ></div>
</div>

<% guide.contests.each do |contest| %>
  <%= render guide.template.template_file_path(guide.field('contest_layout')), contest: contest, guide: guide %>
<% end %>
<% guide.measures.each do |measure| %>
  <%= render guide.template.template_file_path('measure'), measure: measure, guide: guide  %>
<% end %>

<div class="page">
  <div class="header">
    <h4><%= guide.field('how_to_vote_subtitle') %></h4>
    <h2><%= guide.field('how_to_vote_title') %></h2>
  </div>
  <div class="content how-to">
    <div class="section">
      <h3><%= guide.field('what_you_got_to_bring_title') %></h3>
      <p><%= guide.field('what_you_got_to_bring') %></p>
    </div>
    <div class="section">
      <h3><%= guide.field('where_you_got_to_go_title') %></h3>
      <p><%= guide.field('where_you_got_to_go') %></p>
    </div>
  </div>
  <div class="footer footer_2"></div>
</div>
<div class="page back">
  <div class="content">
    <div class="section">
      <h2><%= guide.field('find_out_more_title') %></h2>
      <p><%= guide.field('find_out_more') %></p>
      <p>
    </div>
    <div class="section">
      <p><%= guide.field('also_on_our_website') %></p>
      <br />
      <strong>
        <% if guide.field('our_website') %>
          <%= guide.field('our_website') %>
        <% else %>
          www.americanvoterguide.org/<%= guide.location.state_slug %>
        <% end %>
      </strong>
    </div>
    <p>
    <% unless guide.field('disclaimer').empty? %>
      <div class="disclaimer"><%= guide.field('disclaimer') %></div>
    <% end %>
  </div>
</div>
