<div class="page single contest" id="contest-<%= contest.id %>">
  <div class="header">
    <h4><%= guide.field('candidates_title') %></h4>
    <h2><%= contest.title %></h2>
  </div>
  <div class="content">
    <table class="candidates count--<%= contest.candidates.count %>">
      <tbody>
        <tr>
          <td colspan="<%= contest.candidates.count %>"><h3>What They Do</h3></td>
        </tr>
        <tr>
          <td colspan="<%= contest.candidates.count %>"><p><%= contest.description %></p></td>
        </tr>
        <tr>
          <% contest.candidates.each do |candidate| %>
              <td class="candidate small">
                <div class="name">
                  <div class="photo"><%= render guide.template.template_file_path('photo'), candidate: candidate %></div>
                  <h3><%= candidate.name %></h3>
                  <span class="party"><%= candidate.party %></span>
                  <p><%= candidate.bio %></p>
                </div>
                <% unless candidate.endorsements.empty? %>
                  <div class="endorse">
                    <em><%= guide.field('supported_by') %></em>
                    <ul class="endorsements">
                      <% candidate.endorsements.each do |endorsement| %>
                        <li><%= endorsement.endorser %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </td>
          <% end %>
          </tr>
        </tbody>
      </table>
      <% unless contest.questions.empty? %>
        <div class="questions">
          <table>
            <thead>
              <tr>
                <th class="stance"><%= guide.field('you_support') %></th>
                <% contest.candidates.each do |candidate| %>
                  <th>
                    <h3><%= (candidate.try(:name) || '').split(' ').last %></h3>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% contest.questions.each do |question| %>
                <tr>
                  <td class="question"><%= question.text %></td>
                  <% contest.candidates.each do |candidate| %>
                    <td>
                      <%= question.answers.find{ |answer| answer.candidate_id == candidate.id }.try(:text) || 'N/A' %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
