<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Preview</title>

<style type="text/css">
  @font-face {
    font-family: "Mensch-bold";
    src: url("https://s3-us-west-2.amazonaws.com/americanvoterguide.org/fonts/mensch-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Mensch-inline";
    src: url("https://s3-us-west-2.amazonaws.com/americanvoterguide.org/fonts/mensch-inline.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Spinnaker";
    src: url("https://s3-us-west-2.amazonaws.com/americanvoterguide.org/fonts/Spinnaker-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  h3 {
    color: <%= guide.field('secondary_color') %>;
  }
  title h1.big {
    text-shadow: <%= guide.field('secondary_color') %> -2px 2px 0px;
  }
  .header {
    background-color: <%= guide.field('primary_color') %>;
  }
  .title .inner {
    background: <%= to_rgba(guide.field('primary_color'), 0.85) %>;
  }
  .questions tbody tr:nth-child(odd) {
    background: <%= to_rgba(guide.field('primary_color'), 0.20) %>;
  }
  .questions th.stance {
    color: <%= to_rgba(guide.field('primary_color'), 0.75) %>;
  }
  .measure .hr {
    border-bottom-color: <%= to_rgba(guide.field('primary_color'), 0.20) %>;
  }
  .measure .section .explain h4,
  .measure .section .recommendation {
    color: <%= guide.field('primary_color') %>;
  }
  .back h2 { color: <%= guide.field('primary_color') %>; }
  .back .footer {
    background-color: <%= guide.field('secondary_color') %>;
  }
</style>
<% if preview %>
  <style type="text/css">
    html {
      zoom: 1;
    }
    body {
      background: #999;
      margin-bottom: 50px
    }
    .page {
        margin: 20px auto 0;
        box-shadow: #333 -1px 1px 3px;
    }
  </style>
<% end %>
<%= render 'templates/emoji', preview: preview %>

<script type="text/javascript">
  window.onload = function() {
    Array.prototype.forEach.call(
      document.body.querySelectorAll('p'),
      function(el) { if( emoji ) el.innerHTML = emoji.replace_unified(el.innerHTML) }
    )
    <% unless true || preview %>
      Array.prototype.forEach.call(
        document.body.querySelectorAll('.page'),
        function(el) {
          for(var i = 0; i < 4; i++) {
            var marks = document.createElement('i')
            marks.className = 'marks marks--'+i
            el.appendChild(marks)
          }
        }
      )
    <% end %>
  }
</script>
