<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Preview</title>

<style type="text/css">
  h3 {
    color: <%= guide.field('secondary_color') %>;
  }
  title h1.big {
    text-shadow: <%= guide.field('secondary_color') %> -2px 2px 0px;
  }
  .header {
    background-color: <%= guide.field('primary_color') %>;
  }
  .title .inner {
    background: <%= to_rgba(guide.field('primary_color'), 0.75) %>;
  }
  .questions tbody tr:nth-child(odd) {
    background: <%= to_rgba(guide.field('primary_color'), 0.20) %>;
  }
  .questions th.stance {
    color: <%= to_rgba(guide.field('primary_color'), 0.75) %>;
  }
  .measure .hr {
    border-bottom-color: <%= to_rgba(guide.field('primary_color'), 0.20) %>;
  }
  .measure .section .explain h4,
  .measure .section .recommendation {
    color: <%= guide.field('primary_color') %>;
  }
  .back {
    background: <%= guide.field('primary_color') %>;
  }
</style>
<% if preview %>
  <style type="text/css">
    html {
      zoom: 1;
    }
    body {
      background: #999;
    }
    .page {
        margin: 20px auto 0;
        box-shadow: #333 -1px 1px 3px;
    }
  </style>
<% end %>
<%= render 'templates/emoji' %>
