<div class="page measure" id="measure-<%= measure.id %>">
  <div class="header">
    <h4>ballot measures</h4>
    <h2><%= measure.title %></h2>
  </div>
  <div class="content">
    <div class="section">
      <h3>What it Does</h3>
      <p><%= measure.description %></p>
    </div>
    <hr>
    <div class="section">
      <div class="hand">
        <img src="data:image/png;base64,<%= to_asset_string('up.png') %>">
      </div>
      <div class="explain">
          <h4>A <span>Yes</span> Vote Means...</h4>
          <p><%= measure.yes_means %></p>
      </div>
      <div class="endorse">
        <% unless measure.endorsements.against.empty? %>
          <p>who says YES...</p>
          <ul>
            <% measure.endorsements.for.each do |endorsement| %>
              <li><%= endorsement.endorser %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="hand">
        <img src="data:image/png;base64,<%= to_asset_string('down.png') %>">
      </div>
      <div class="explain">
          <h4>A <span>No</span> Vote Means...</h4>
          <p><%= measure.no_means %></p>
      </div>
      <div class="endorse">
        <% unless measure.endorsements.against.empty? %>
          <p>who says NO...</p>
          <ul>
            <% measure.endorsements.against.each do |endorsement| %>
              <li><%= endorsement.endorser %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
</div>
