.contest.embed{ id: "candidate_#{contest.id}" }
  .header
    %a.left{ href: '#' }
      %i.fa.fa-angle-left
    .titles
      .title.active About the Candidates
      - contest.questions.each do |question|
        .title
          Do you support
          = question.text

    %a.right{ href: '#' }
      %i.fa.fa-angle-right
  - contest.candidates.each do |candidate|
    .candidate
      .inner
        .info
          .photo{ style: "background-image: url(#{candidate.photo})" }
          .box
            %p
              %strong= candidate.name
            %p= candidate.party
            %p
              - if candidate.website
                %a{ href: candidate.website, target: '_blank' }
                  %i.fa.fa-globe
              - if candidate.facebook
                %a{ href: candidate.facebook, target: '_blank' }
                  %i.fa.fa-facebook
              - if candidate.twitter
                %a{ href: candidate.twitter, target: '_blank' }
                  %i.fa.fa-twitter
        .facts
          .fact.active
            = candidate.bio
            - unless candidate.endorsements.empty?
              %em Endorsed by:
              = candidate.endorsements.map(&:endorser).to_sentence
            .share
              %i.fa.fa-share

          - contest.questions.each do |question|
            .fact
              %h1.big= question.answers.find{ |answer| answer.candidate == candidate }.try(:text)
              .share
                %i.fa.fa-share

  .footer
    %a.active{ href: '#' }
    - contest.questions.each do
      %a{ href: '#' }
    .tools
      %i.fa.fa-code
      %i.fa.fa-share

:javascript
  (function() {
    var container = document.querySelector("#candidate_#{contest.id}"),
        active = 0,
        tabs = container.querySelectorAll('.footer a').length

    container.querySelector('.left').onclick = function() {
      goTo(active - 1)
      return false
    }

    container.querySelector('.right').onclick = function() {
      goTo(active + 1)
      return false
    }

    Array.prototype.forEach.call(
      container.querySelectorAll('.footer a'),
      function(el, i) {
        el.onclick = function() {
          goTo(i)
          return false
        }
      }
    )

    function goTo(location) {
      active = location
      if( active < 0 ) active = tabs - 1
      if( active >= tabs ) active = 0

      Array.prototype.forEach.call(
        container.querySelectorAll('.facts'),
        function(el) { deactivateNodeListExcept('.facts .fact', active, el) }
      )
      deactivateNodeListExcept('.footer a', active)
      deactivateNodeListExcept('.titles .title', active)
    }

    function deactivateNodeListExcept(domQuery, except, elem) {
      var elem = elem || container
      var nodeList = elem.querySelectorAll(domQuery)

      Array.prototype.forEach.call(nodeList, function(el, i) {
        if( i === except ) el.className += ' active'
        else el.className = el.className.replace(/active/, '').trim()
      })
    }
  })()


