.contest.embed{ id: "contest_#{contest.id}" }
  .anchor{ id: "contest_#{contest.id}_0" }
  - contest.questions.each.with_index do |question, index|
    .anchor{ id: "contest_#{contest.id}_#{index + 1}" }

  .vitals
    %h3= contest.title
    %p= contest.description

  .inner
    .header
      %a.left{ href: '#' }
        %i.fa.fa-angle-left
      .titles
        .title.active About the Candidates
        - contest.questions.each.with_index do |question, index|
          .title
            .pre Do you support
            = question.text

      %a.right{ href: '#' }
        %i.fa.fa-angle-right
    - contest.candidates.each do |candidate|
      .candidate
        .inner
          .info
            .photo{ style: "background-image: url(#{candidate.photo})" }
            .box
              %p.name
                %strong= candidate.name
              %p.party= candidate.party
              %p.links
                - if candidate.website
                  %a{ href: candidate.website, target: '_blank' }
                    %i.fa.fa-globe
                - if candidate.facebook
                  %a{ href: candidate.facebook, target: '_blank' }
                    %i.fa.fa-facebook
                - if candidate.twitter
                  %a{ href: candidate.twitter, target: '_blank' }
                    %i.fa.fa-twitter
          .facts
            .fact.active.bio
              %p= candidate.bio
              - unless candidate.endorsements.empty?
                %p
                  %em Supported by
                %ul
                  - candidate.endorsements.each do |endorsement|
                    %li= endorsement.endorser
              .share
                %i.fa.fa-share

            - contest.questions.each do |question|
              .fact
                %h1.big= question.answers.find{ |answer| answer.candidate == candidate }.try(:text)
                .share
                  %i.fa.fa-share

    .footer
      .nav
        %a.active{ href: '#' }
        - contest.questions.each do
          %a{ href: '#' }
      .tools
        %a.js-open-code-box
          %i.fa.fa-code
        %a.js-share-dialog
          %i.fa.fa-share
      .code-box
        %textarea{ readonly: 'readonly' }
          <script>(function(a, d) { if( typeof a !== 'undefined' ) return; var s = d.createElement('script'); s.setAttribute('src', 'http://#{ ENV['AVG_BUCKET'] || 'preview.americanvoterguide.org' }/assets/avg_embed.js'); d.head.appendChild(s); })(window._avg, document)
          </script><div class="avg--embed" data-contest="#{contest.id}"></div>
        %em Click to Copy - Paste Where You'd Like to Embed This Guide

:javascript
  (function() {
    var container = document.querySelector("#contest_#{contest.id}"),
        active = 0,
        tabs = container.querySelectorAll('.footer .nav a').length

    container.querySelector('.left').onclick = function() {
      goTo(active - 1)
      return false
    }

    container.querySelector('.right').onclick = function() {
      goTo(active + 1)
      return false
    }

    Array.prototype.forEach.call(
      container.querySelectorAll('.footer a'),
      function(el, i) {
        el.onclick = function() {
          goTo(i)
          return false
        }
      }
    )

    function goTo(location) {
      active = location
      if( active < 0 ) active = tabs - 1
      if( active >= tabs ) active = 0

      Array.prototype.forEach.call(
        container.querySelectorAll('.facts'),
        function(el) { deactivateNodeListExcept('.facts .fact', active, el) }
      )
      deactivateNodeListExcept('.footer a', active)
      deactivateNodeListExcept('.titles .title', active)
    }

    function deactivateNodeListExcept(domQuery, except, elem) {
      var elem = elem || container
      var nodeList = elem.querySelectorAll(domQuery)

      Array.prototype.forEach.call(nodeList, function(el, i) {
        if( i === except ) el.className += ' active'
        else el.className = el.className.replace(/active/, '').trim()
      })
    }

    if( document.location.hash.match(/contest\_#{contest.id}\_\d+/) ) {
      goTo(parseInt(document.location.hash.split('_').reverse()[0]))
    }

    container.querySelector('.js-open-code-box').onclick = function() {
      if( container.className.search('code-open') === -1 ) container.className += ' code-open'
      else container.className = container.className.replace('code-open', '').trim()
    }
    container.querySelector('.code-box textarea').onclick = function() { this.select() }

  })()


