- content_for :body_class do
  candidate--info

- content_for :title do
  = candidate.name

- content_for :url do
  contests/#{candidate.contest.id}/candidate-#{candidate.id}.html

- content_for :meta_description do
  The supporters of the candidates this election could not be more different. Learn who they are. Then vote.

- content_for :meta_image do
  https://americanvoterguide.org/contests/#{candidate.contest.id}/#{candidate.slug}.png

.top
  .candidate
    .photo{ style: "background-image: url(#{candidate.photo})" }
    %h1= candidate.name
.inner
  %h3= candidate.party
  %p= candidate.bio
  %h3 Supported by
  %ul
    - candidate.endorsements.each do |endorsement|
      %li= endorsement.endorser
