- content_for :body_class do
  contest--info candidates--#{contest.candidates.length}

- content_for :title do
  = contest.title

- content_for :url do
  contests/#{contest.id}/info.html

- content_for :meta_description do
  The supporters of the candidates this election could not be more different. Learn who they are. Then vote.

- content_for :meta_image do
  https://americanvoterguide.org/contests/#{contest.id}/info.png

%h2 Compare the Candidates
- contest.candidates.each do |candidate|
  .candidate
    .bubble
      .photo{ style: "background-image: url(#{candidate.photo})" }
      %h1= candidate.name
    %h3= candidate.party
    %p.bio= candidate.bio
    %p Supported by
    %ul
      - candidate.endorsements.each do |endorsement|
        %li= endorsement.endorser
