- content_for :body_class do
  contest--question candidates--#{question.contest.candidates.length}

- content_for :title do
  = question.contest.title

- content_for :url do
  contests/#{question.contest.id}/#{question.slug}.html

- content_for :meta_description do
  There are real differences between the candidates on the issues. Learn what they are, then vote your values.

- content_for :meta_image do
  https://americanvoterguide.org/contests/#{question.contest.id}/#{question.slug}.png

%h2.ask Do You Support
%h3{ class: question.text.length > 80 ? 'long' : '' }= question.text
- question.contest.candidates.each do |candidate|
  .candidate
    .photo{ style: "background-image: url(#{candidate.photo})" }
    %h2= candidate.name
    %h3= candidate.party
    %h1= question.answers.find{ |answer| candidate == answer.candidate }.try(:text) || 'N/A'
