- content_for :header do
  .header
    .bg
      %img.left{ src: "data:image/png;base64,#{ to_asset_string('avg/cloudl.png') }" }
      %img.right{ src: "data:image/png;base64,#{ to_asset_string('avg/cloudr.png') }" }

    .mui-container
      .mui-row
        .mui-col-xs-12
          #main_title
            %h1 Compare the U.S Presidential Candidates
            %p= guide.contests.first.description
          = render 'templates/avg/contest_tall', contest: guide.contests.first

- content_for :body_class do
  front

.state_holder
= render 'templates/avg/state_box', preview: preview

.mui-row.icons{ style: 'margin-bottom: 50px'}
  .mui-col-md-4
    %img.left{ src: "data:image/png;base64,#{ to_asset_string('avg/about.png') }" }
    %h4 Learn About The Issues
    %p Know where the candidates in your state stand on the issues you care about.
  .mui-col-md-4
    %img.left{ src: "data:image/png;base64,#{ to_asset_string('avg/register.png') }" }
    %h4 Register to Vote
    %p Take 2 minutes to make sure you are registered for this November’s election.
  .mui-col-md-4
    %img.left{ src: "data:image/png;base64,#{ to_asset_string('avg/pollingplace.png') }" }
    %h4 Find a Polling Place
    %p Locate your nearest voting location.
