- content_for :header do
  .header
    .bg{ style: "background-image: url(https://s3-us-west-2.amazonaws.com/voterguides/states/partners.jpg)" }
    .mui-container.page--tile
      .mui-row
        .mui-col-xs-12
          %h1
            Partner with Us
        #sharing.mui-col-sm-4.sharing
        :javascript
          sharingWidget(sharing)

- content_for :body_class do
  partner

- content_for :url do
  /

- content_for :meta_description do
  AmericanVoterGuide.org and the entire American Voter Guide program is successful thanks to all of the partners who distribute guides in the field, create and share digital versions of local guides, and provide policy questions for candidates. Thank you to all of our incredible partners.

- content_for :meta_image do
  https://s3-us-west-2.amazonaws.com/voterguides/states/partners.jpg

.mui-row
  .mui-col-xs-12
    %h1 Partners
    %p The American Voter Guide program is successful thanks to all of the partners who distribute guides to voters in communities all over the country. These guides are created to present candidates and the issues in a simple format and increase voter turnout. Join dozens of organizations in informing young voters all across the country. Become a partner today!
.mui-row
  .mui-col-xs-12
    %h2 Partner with Us
    %p
      Want to get involved?
    = link_to 'Sign up to Partner Here', 'https://docs.google.com/forms/d/e/1FAIpQLSfggcSSBh6daNwQEl07F4IbphDzCfi0vJ2U7fr1nPwSyFEjZw/viewform', class: 'mui-btn mui-btn--primary'

.mui-row
  .mui-col-xs-12
    %h2 Learn More About Becoming a Partner
    %p Our Partners create content, design their own guides, and distribute them on the ground to voters


.mui-row
  .mui-col-xs-6
    %h2 Already a Partner?
    %ul
      %li
        %strong Embed and Share Digital Content
        Put your digital voter guide on your website and promote it on social media
      %li
        %strong Check out our Partner Toolkit
        = link_to 'available here', 'https://docs.google.com/document/d/1k5rum2PQv89y6OWbzFlxOs2zIZjR3QrN7kBxJ1Bbg5A/edit'
        with tips on creating content, design, distribution, and more
      %li
        %strong How to Use the Voter Guide Generator
        Using the Voter Guide Generator is the most efficient and cheapest way to develop both digital and print guides.
        = link_to 'We have put together a step by step document', 'https://docs.google.com/document/d/1xIoXpBEDoJpRg-fMhIMm9zQxgNjnYU0ghr06XEbNhhc/edit'
        that will walk you through how to create your guide using the Voter Guide Generator.
  .mui-col-xs-6
    %br
    %br
    = image_tag 'https://s3-us-west-2.amazonaws.com/voterguides/states/BusFed54.JPG', style: 'width: 100%'

.mui-row
  .mui-col-xs-12
    %h2 2017 Deadlines
.mui-row
  .mui-col-xs-6
    %h3 Primary Elections
    %ul
      %li
        %strong Deadline for Partner Sign Up:
        6 weeks prior to desired date for voter guide distribution (we suggest distribution beginning at least one month prior to your target election date)
      %li
        %strong Deadline Content Completion:
        4 weeks prior to voter guide distribution to begin.
  .mui-col-xs-6
    %h3 General Election Dates (November 7, 2017)
    %ul
      %li
        %strong Deadline for Partner Sign Up:
        August 22, 2017
      %li
        %strong Deadline for Content Completion:
        September 5, 2017

.mui-row
  .mui-col-xs-12
    %h2 Cost
    %p
      Field partners will be asked to cover the cost of printing and shipping of the voter guide. Cost for voter guides will vary depending on region, guide type, and type of distribution method. For specific pricing contact us at
      =link_to 'voterguide@busfederation.com', 'mailto:voterguide@busfederation.com'


    %p
      Contact Us!
      =link_to 'voterguide@busfederation.com', 'mailto:voterguide@busfederation.com'


= render 'templates/avg/state_box', preview: preview

