- content_for :header do
  .state_header
    .bg{ style: "background-image: url(#{state_pic(@guide)})" }
    .mui-container
      .mui-row
        .mui-col-xs-12
          %h1
            = @guide.location.state_name
            Voter Guide
        .mui-col-xs-4
          %i.fa.fa-facebook
          %i.fa.fa-twitter
          %i.fa.fa-envelope

- content_for :body_class do
  state

- content_for :title do
  #{@guide.location.state_name} Voter Guide


.mui-row
  .mui-col-md-9.mui-col-md-offset-3
    %h2 How to Vote
    %iframe{ width:"560", height:"315", frameborder:"0", allowfullscreen: true, src: "https://www.youtube.com/embed/#{how_to_vote_video(@guide)}"}
    %p= link_to 'Watch on Youtube', "https://www.youtube.com/watch?v=#{how_to_vote_video(@guide)}"


