- content_for :header do
  .header
    .bg{ style: "background-image: url('https://s3-us-west-2.amazonaws.com/voterguides/states/#{state_pic(guide)}')" }
    .mui-container.page--title
      .mui-row
        .mui-col-xs-12
          %h1
            = guide.location.state_name
            Voter Guide
        #state_sharing.mui-col-sm-4.sharing{ data: { message: "On Nov. 8 we're not just electing a President. Learn more about what is happening this election" }}
        :javascript
          sharingWidget(state_sharing)

- content_for :body_class do
  state #{guide.location.state_slug}

- content_for :title do
  #{guide.location.state_name}

- content_for :url do
  = guide.location.state_slug

- content_for :meta_description do
  On Nov. 8 we're not just electing a President. Learn more about the candidates in #{guide.location.state_name} and where they stand on the issues you care about.

- content_for :meta_image do
  https://americanvoterguide.org/#{guide.location.state_slug}/share.png

.mui-row
  .mui-col-md-3.subnav
    %ul
      %li
        %a{ href: '#how_to_vote' } How to Vote
      - unless guide.contests.empty?
        %li
          %a{ href: '#contests' } State Offices
          %ul
            - guide.contests.each do |contest|
              %li
                %a{ href: "#contest_#{contest.id}" }= contest.title
      - unless guide.measures.empty?
        %li
          %a{ href: '#measures' } State Ballot Measures
          %ul
            - guide.measures.each do |measure|
              %li
                %a{ href: "#measure_#{measure.id}" }= measure.title

  .mui-col-md-9
    #how_to_vote
      %h2 How to Vote
      - unless guide.field('how_to_vote').empty?
        %p= guide.field('how_to_vote')
      %iframe{ width:"100%", height:"315", frameborder:"0", allowfullscreen: true, src: "https://www.youtube.com/embed/#{how_to_vote_video(guide)}"}
      %p= link_to 'Watch on Youtube', "https://www.youtube.com/watch?v=#{how_to_vote_video(guide)}"


    - unless guide.contests.empty?
      #contests
      - guide.contests.each do |contest|
        .mui-row
          .mui-col-md-9
            = render 'templates/avg/contest', contest: contest, preview: preview

    - unless guide.measures.empty?
      #measures.mui-row
        .mui-col-md-9
          %h2 Statewide Ballot Measures

      - guide.measures.each do |measure|
        .mui-row{ id: "measure_#{measure.id}" }
          .mui-col-md-9.ballot_measure
            .mui-row
              %h3.mui-col-md-9= measure.title
              .sharing.mui-col-md-3{ id: "measure_sharing_#{measure.id}", data: { link: "https://#{ENV['AVG_BUCKET']}/measures/#{measure.id}-#{measure.slug}.html", category: :measure, item: "#{measure.title}:heading" } }
              :javascript
                sharingWidget(measure_sharing_#{measure.id})
            %p= measure.description
            .mui-col-sm-1
              %i.fa.fa-thumbs-o-up.for
            .mui-col-sm-11
              %h4 A Yes Vote Means
              %p= measure.yes_means
              - unless measure.endorsements.for.empty?
                %p
                  %em Who Says Yes:
                %ul
                  - measure.endorsements.for.each do |endorsement|
                    %li= endorsement.endorser

            .mui-col-sm-1
              %i.fa.fa-thumbs-o-down.against
            .mui-col-sm-11
              %h4 A No Vote Means
              %p= measure.no_means
              - unless measure.endorsements.against.empty?
                %p
                  %em Who Says No:
                %ul
                  - measure.endorsements.against.each do |endorsement|
                    %li= endorsement.endorser

= render 'templates/avg/state_box', preview: preview
- unless guide.field('footer_script').empty?
  = raw guide.field('footer_script')
