:javascript
  if( typeof window.google === 'undefined' ) {
    var script = document.createElement('script')
    script.src = "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API']}&callback=initMap"
    document.head.appendChild(script)
  }

  function initMap() {
    var search_input = document.getElementById('location_box')
    if( search_input ) {
      var event = document.createEvent("HTMLEvents")
      event.initEvent("change", false, true)
      search_input.dispatchEvent(event)
    }
  }

- unless guide.errors.empty?
  - content_for :errors do
    %ul.errors
      - guide.errors.full_messages.each do |error|
        %li= error

= form_for(guide, html: { autocomplete: :off }) do |form|
  .mui-textfield
    = form.label :name
    = form.text_field :name, placeholder: 'The Best Little Voter Guide in Texas'
  .mui-textfield
    = form.label :election_date
    = form.date_field :election_date, value: guide.election_date || Date.new(2016, 11, 8)
  %h2
    %i.fa.fa-map-marker
    Location
  .mui-textfield
    = react_component :LocationSearch, guide.location
  - if guide.new_record?
    .mui-select
      = form.label 'Clone Existing Guide'
      = select_tag :cloned_id, options_for_select(current_user.guides.uniq.map{ |guide| [guide.name, guide.id] }), prompt: 'Select guide to clone'
      %p
        %em Will clone all measures, contests, and fields.

  .mui--pull-right
    = form.submit 'Save', class: 'mui-btn mui-btn--raised mui-btn--primary'

