.mui-row
  .mui-col-md-6
    %h2
      = link_to 'Your Guides', root_url
      \/
      All Guides
  .mui-col-md-6
    .mui--pull-right
      = button_link_to 'Your Exports', new_export_path, btn: :primary, class: 'mui-btn--small'
      = button_link_to 'New Export', new_export_path, class: 'mui-btn--small'

  .mui-col-md-12
    %table.mui-table
      %thead
        %tr
          %th Guide
          %th Location
          %th Users
          %th{ style: 'min-width: 90px;' } Contests
          %th{ style: 'min-width: 90px;' } Measures
          %th
          %th
          %th
      %tbody
      - Guide.all.each do |guide|
        - next if guide.users.include? current_user
        %tr
          %td.guide
            .mui--pull-left
              = link_to guide_path(guide) do
                %strong= guide.name.humanize
          %td
            .mui--pull-left
              = render partial: 'layouts/location', locals: { location: guide.location }
          %td
            .mui--pull-left.info
              = guide.users.uniq.map(&:name).reject(&:blank?).join(', ')
          %td
            .mui--pull-left.info
              = link_to guide_contests_path(guide) do
                %i.fa.fa-users
                &nbsp;
                = guide.pages_for(:contests)
                %span.mui--text-dark-hint /
                = guide.template.available_pages
              .small pages
          %td
            .mui--pull-left
              = link_to guide_measures_path(guide) do
                %i.fa.fa-file-text
                &nbsp;
                = guide.pages_for(:measures)
                %span.mui--text-dark-hint /
                = guide.template.available_pages
              .small pages
          %td
            = button_link_to preview_guide_path(guide), class: 'mui-btn--small', target: '_blank', btn: :primary do
              %i.fa-newspaper-o.fa
          %td
            = form_tag publish_guide_path(guide), style: 'display: inline-block' do
              %button.mui-btn--small.mui-btn--accent.mui-btn{ disabled: guide.is_publishing? }
                - if guide.is_publishing?
                  %i.fa-cloud-upload.fa.fa-pulse
                - else
                  %i.fa-cloud-upload.fa
          %td
            - if guide.is_published?
              = button_link_to guide.published_resource, class: 'mui-btn--small', target: '_blank', btn: :primary do
                %i.fa-file-pdf-o.fa
