.mui-row
  .mui-col-md-12
    %h2
      = link_to 'Your Guides', root_url
      \/
      All Guides

    %table.mui-table
      %thead
        %tr
          %th Guide
          %th Location
          %th Users
          %th Contests
          %th Measures
          %th
      %tbody
      - Guide.all.each do |guide|
        - next if guide.users.include? current_user
        %tr
          %td
            .mui--pull-left
              = link_to guide_path(guide) do
                %strong= guide.name.humanize
          %td
            .mui--pull-left
              - if guide.location
                - if guide.location.city.present?
                  = guide.location.city
                  ,
                  = guide.location.state
                - else
                  The State of
                  = guide.location.state_name
          %td
            .mui--pull-left.info
              = guide.users.uniq.map(&:name).reject(&:blank?).join(', ')
          %td
            .mui--pull-left.info
              = link_to guide_contests_path(guide) do
                %i.fa.fa-users
                &nbsp;
                = guide.pages_for(:contests)
                %span.mui--text-dark-hint /
                = guide.template.available_pages
              .small pages
          %td
            .mui--pull-left
              = link_to guide_measures_path(guide) do
                %i.fa.fa-file-text
                &nbsp;
                = guide.pages_for(:measures)
                %span.mui--text-dark-hint /
                = guide.template.available_pages
              .small pages
          %td
            = button_link_to preview_guide_path(guide), class: 'mui-btn--small', target: '_blank', btn: :primary do
              %i.fa-newspaper-o.fa
              Preview
