.mui-row
  .mui-col-md-12
    %h2 Get Started on Your Voter Guide

.guide-options
  .mui-row
    .mui-col-md-4
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-map-signs
        Fields
      %p Edit the descriptive fields that will explain how to vote and what your guide is all about.

    .mui-col-md-4
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-users
        Contests
      %p Contests are where candiate details and questions are managed.

    .mui-col-md-4
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-file-text
        Ballot Measures
      %p Manage Ballot Measures

  .mui-row
    .mui-col-md-4
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-gears
        Manage Guide
      %p Invite other users to edit your guide.

    .mui-col-md-4
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-language
        Manage Languages
      %p Invite other users to edit your guide.

    .mui-col-md-4
      = button_link_to invite_guide_path(@guide) do
        %i.fa.fa-user-plus
        Invite Collaborators
      %p Invite other users to edit your guide.
