.dashboard
  .mui-row
    .mui-col-md-3.mui--pull-right
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-gears
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-language
      = button_link_to invite_guide_path(@guide) do
        %i.fa.fa-user-plus

    .mui-col-md-12
      %h2 Get Started on Your Voter Guide
      %p Create your Voter Guide by editing the following sections. When your guide is approved and ready to publish you'll be able to preview the PDF and the website and request publication.

  .mui-row
    .mui-col-md-2
      %strong GUIDE STATUS
    .mui-col-md-3
      %strong
        %i.fa-desktop.fa
        Online Guide
      &nbsp;
      %em.mui--text-dark-hint Unapproved
    .mui-col-md-3
      %strong
        %i.fa-newspaper-o.fa
        Print Guide
      &nbsp;
      %em.mui--text-dark-hint Unapproved

  .mui-row
    .mui-col-md-4.box
      %h3 Fields
      %h1.big
        %span.mui--text-dark= @guide.fields.map(&:value).reject(&:nil?).count
        %span.mui--text-dark-hint /
        %span.mui--text-dark-hint= @guide.template.fields.count
      = button_link_to fields_guide_path(@guide) do
        %i.fa.fa-map-signs
        Edit Fields
      %p
        %em Edit the descriptive fields that will explain how to vote and what your guide is all about.

    .mui-col-md-4.box
      %h3 Contests
      %h1.big
        %span.mui--text-dark 0
        %span.mui--text-dark-hint /
        %span.mui--text-dark-hint= @guide.template.contests
      = button_link_to guide_contests_path(@guide) do
        %i.fa.fa-users
        Edit Contests
      %p
        %em Manage the candidates that are running for office and the questions they've answered.

    .mui-col-md-4.box
      %h3 Ballot Measures
      %h1.big
        %span.mui--text-dark 0
        %span.mui--text-dark-hint /
        %span.mui--text-dark-hint= @guide.template.ballot_measures
      = button_link_to edit_guide_path(@guide) do
        %i.fa.fa-file-text
        Edit Ballot Measures
      %p
        %em List the ballot measures that voters will get to decide on election day.
