= render 'guides/breadcrumb'

.dashboard
  .mui-row
    .mui-col-md-12.mui--text-right.menu
      = button_link_to edit_guide_path(@guide), class: 'mui-btn--small' do
        %i.fa.fa-gears.settings
        Adjust Settings
      = button_link_to guide_languages_path(@guide), class: 'mui-btn--small' do
        %i.fa.fa-language.languages
        Add Languages
      = button_link_to invite_guide_path(@guide), class: 'mui-btn--small' do
        %i.fa.fa-user-plus.users
        Invite Collaborators

    .mui-col-md-12
      %h2 Get Started on Your Voter Guide
    .mui-col-md-6
      %p Create your Voter Guide by editing the following sections.
    .mui-col-md-6
      = link_to preview_guide_path(@guide), { target: '_blank' } do
        %strong
          %i.fa-newspaper-o.fa
          Preview

  .mui-row
    .mui-col-md-4.box
      %h3 Fields
      %h1.big
        %span.mui--text-dark= @guide.fields.map(&:value).reject(&:nil?).count
        %span.mui--text-dark-hint /
        %span.mui--text-dark-hint= @guide.template.fields.count
      = button_link_to fields_guide_path(@guide) do
        %i.fa.fa-map-signs
        Edit Fields
      %p
        %em Edit the descriptive fields that will explain how to vote and what your guide is all about.

    .mui-col-md-4.box
      %h3 Contests
      %h1.big
        %span.mui--text-dark= @guide.contests.length
        %span.mui--text-dark-hint /
        %span.mui--text-dark-hint= @guide.template.contests.fetch('max', 0)
      = button_link_to guide_contests_path(@guide) do
        %i.fa.fa-users
        Edit Contests
      %p
        %em Manage the candidates that are running for office and the questions they've answered.

    .mui-col-md-4.box
      %h3 Ballot Measures
      %h1.big
        %span.mui--text-dark 0
        %span.mui--text-dark-hint /
        %span.mui--text-dark-hint= @guide.template.measures.fetch('max', 0)
      = button_link_to guide_measures_path(@guide) do
        %i.fa.fa-file-text
        Edit Ballot Measures
      %p
        %em List the ballot measures that voters will get to decide on election day.
