.mui-row
  .mui-col-md-12
    .mui--pull-right
      = button_link_to 'New Export', new_export_path
    %h2 Your Exports
    %table.mui-table
      %thead
        %tr
          %th Guides
          %th Status
          %th
          %th
      %tbody
      - current_user.exports.each do |export|
        %tr
          %td
            %ul.mui-list--unstyled
              - export.export_guides.each do |export_guide|
                %li
                  = link_to export_guide.guide.name, guide_path(export_guide.guide)
                  - if export_guide.export_version == 'not-published'
                    %strong
                      %i.fa.fa-exclamation-triangle
                      Could Not Export!
          %td
            - if export.published?
              - if export.is_synced?
                Up to Date
              -else
                Export out of date
            - else
              = export.status
          %td
            - if export.published?
              = button_link_to 'Download', export.url, btn: 'primary'
          %td
            - unless export.publishing?
              = button_link_to 'Regenerate', export_path(export), data: { method: 'PUT' }
