.mui-row.mui-panel
  .mui-col-md-3
    - if user.pic && !user.pic.empty?
      = image_tag user.pic, width: '100px'
    - else
      = image_tag 'unknown.png', width: '100px'
  .mui-col-md-6
    %p
      = user.first_name
      = user.last_name
    %p
      %em= link_to user.email, "mailto:#{user.email}"
  .mui-col-md-3
    = yield
