!!!
%html
  %head
    %title VoterGuideBot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }

    = favicon_link_tag 'logo.png'

    = csrf_meta_tags

  %body
    - if current_user
      #header.mui-appbar
        .mui-container
          %table{ width: '100%' }
            %tr.mui--appbar-height
              %td
                - if current_user && current_user.admin
                  = link_to image_tag('admin.png'), root_path
                - else
                  = link_to image_tag('robot.png'), root_path
                - if content_for :breadcrumb
                  .breadcrumbs= yield :breadcrumb
              %td.mui--text-right
                %span{ style: 'margin: 10px' }
                  Hey
                  = current_user.first_name
                = image_tag current_user.pic, style: 'margin-bottom: -20px'
                = link_to 'log out', destroy_user_session_path, method: :delete, style: 'font-size: 8px; display: block; margin-right: 46px; margin-top: -2px;'
    #content
      .mui-container
        - if content_for :outside
          = yield :outside
        -else
          .mui-panel= yield

    #footer
      Brought to you by
      = link_to 'The Alliance for Youth Action', 'https://www.allianceforyouthaction.org/'
      = link_to image_tag('logo.png'), 'http://busfedaction.org/'

    = render 'layouts/alert'
