!!!
%html
  %head
    %title VoterGuideBot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }

    = favicon_link_tag 'logo.png'

    = csrf_meta_tags
    - if current_user && Rails.env.production?
      = javascript_include_tag "https://linked.chat/web/JaZDLg", async: true, 'data-turbolinks-track' => true

  %body
    - if current_user
      #header.mui-appbar
        .mui-container
          %table{ width: '100%' }
            %tr.mui--appbar-height
              %td
                - if current_user && current_user.admin
                  = link_to image_tag('admin.png'), root_path
                - else
                  = link_to image_tag('robot.png'), root_path
                - if content_for :breadcrumb
                  .breadcrumbs= yield :breadcrumb
              %td.mui--text-right
                %span{ style: 'margin: 10px' }
                  Hey
                  = current_user.first_name
                = image_tag current_user.pic
                = link_to 'log out', destroy_user_session_path, method: :delete, style: 'font-size: 8px; display: block; margin-right: 46px; margin-top: -8px;'
    #content
      .mui-container
        - if content_for :outside
          = yield :outside
        -else
          .mui-panel= yield

    #footer
      Brought to you by the
      = link_to 'Bus Federation Action Fund', 'http://busfedaction.org/'
      = link_to image_tag('logo.png'), 'http://busfedaction.org/'

    = render 'layouts/alert'

    - if current_user && Rails.env.production?
      :javascript
        window.linkedchat = {}
        linkedchat.name = '#{ current_user.first_name } #{ current_user.last_name }';
        linkedchat.email = '#{ current_user.email }';
